/* Colors: */

$vert: #00A335;
$rouge: #FF3A3C;
$blanc: #FFFFFF;
$noir: #000000;
$jaune: #FFE401;

$gris-fonce-1: #4A4A4A;
$gris-fonce-2: #6C6C6C;
$gris-fonce-3: #B1B1B1;
$gris-fonce-4: #343A40;
$gris-clair-1: #FCFCFC;
$gris-clair-2: #F8F8F8;
$gris-clair-3: #EFEFEF;
$gris-clair-4: #E8E8E8;



